.background {
    background: #189DA4;
}

.txt {
    color: #189DA4;
}

.slider-tick {
    position: relative;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 24px;
}

.slider-tick::before {
    content: '';
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 22px;
    background: #189DA4;
}

@media (max-width: 768px) {
    .responsive-table {
        font-size: 0.875rem; /* 14px */
    }
    .responsive-table th, 
    .responsive-table td {
        padding: 0.5rem 0.25rem; /* Reduced padding */
    }
}